---
const { items, emptyItems } = Astro.props;
---

{items.length > 0 && (
    <>
        <ul>
            {items.map(item => (
                <li>{item}</li>
            ))}
        </ul>
    </>
)}

{emptyItems.length > 0 && (
    <>
        <ul>
            {emptyItems.map(item => (
                <li>{item}</li>
            ))}
        </ul>
    </>
)}